  
  
  
  
  <div style="background-color: #ffffff">
      <ul class="nav nav-tabs">

      <li role="presentation">
              <a routerLink="" >
               User List
              </a>
      </li>

        <li role="presentation" class="active">
              <a   routerLink="/Add-User" >
                Add User
              </a>
      </li>
      
    </ul>





 <div class="form-group">
    <label  class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" [(ngModel)]="this.name" >
    </div>
  </div>
 
  <div class="form-group">
    <label class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" [(ngModel)]="this.email"  >
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Address</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" [(ngModel)]="this.address" >
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Phone Number</label>
    <div class="col-sm-10">
      <input type="text" class="form-control"  >
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Company Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" [(ngModel)]="this.company"  >
    </div>
  </div>

  <button class="btn btn-primary; col-sm-offset-2" (click)="addUser()"> Add New User </button>

  </div>