<!--The whole content below can be removed with the new code.-->
<!--
  <div class="" style="background-color:white;padding:20px;margin-left:20px;margin-right:20px;">
    <ul class="nav nav-tabs">
      <li role="presentation"><a routerLink="/" class="glyphicon glyphicon-align-justify">User List</a></li>
      <li role="presentation"><a routerLink="/add_book" class="glyphicon glyphicon-plus-sign">Add User</a></li>
    </ul>

  </div>-->




<router-outlet></router-outlet>


