  <div style="background-color: #ffffff">
    
    <ul class="nav nav-tabs">
          <li role="presentation" class="active"> <a routerLink=""> User List </a> </li>
          <li role="presentation" > <a   routerLink="/Add-User"> Add User </a> </li>     
    </ul>


    <table class="table table-hover" border="1">
      <tr style="background-color: #d7d7d7">
        <th>Name</th>
        <th>E-mail</th>
        <th>Address</th>    
        <th>Company</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let d of service.userList; let i = index">
        <td>{{ d.name }}</td>
        <td>{{ d.email }}</td>
        <td>{{ d.address.street}}</td>
        <td>{{ d.company.name }}</td>
        <td> 
          <div class="btn btn-danger" (click)="remove(i)">
              Remove
          </div>
        </td>    
      </tr>
    </table>

</div>